# Configs
.prettierrc.json
.eslintrc.json
.vscode
jest.config.js
package.json
tsconfig.json
tsconfig.node.json
vite.config.ts
.mocharc.json

# Output files
build
dist

# Code coverage
coverage

# Frontend files
public

# Dependencies
node_modules

# Miscellaneous
docs
*.md