.app {
    @apply flex flex-col;
    @apply h-screen;
    @apply overflow-y-hidden;
}

.header {
    @apply flex;
    @apply px-6 py-4;

    @apply shadow-md;

    & > .header-container {
        @apply flex flex-1;
        @apply justify-between items-center;

        & > .user-image {
            @apply flex;
            @apply justify-center items-center;
        }

        & > .user-image > img {
            width: 40px;
            height: auto;
            aspect-ratio: 1;
        }
    }
}

.main {
    @apply relative;
    @apply flex flex-col;
    @apply justify-center;

    @apply flex-1;
    @apply overflow-y-hidden;

    & > * {
        @apply overflow-y-auto;
    }
}
