$tabLabelFontSize: 11px;

.nav {
    @apply grid grid-cols-5;
    @apply md:hidden;
    @apply items-center;
    @apply justify-items-center;

    @apply w-full;

    box-shadow: 0 -1px 5px 0 rgba(0, 0, 0, 0.4);
}

.tab-button {
    @apply flex flex-col;
    @apply justify-center items-center;
    @apply space-y-1;

    @apply h-full;
    @apply w-full;

    @apply py-2;

    @apply text-gray-500;

    & > span {
        @apply font-semibold;
        @apply text-center;

        font-size: $tabLabelFontSize;
    }
}

.tab-button--active {
    @apply text-indigo-500;
}

.middle-tab {
    @apply flex flex-col;
    @apply items-center;
}

.middle-tab > .middle-tab__button {
    @apply relative;
    @apply bottom-5;
    @apply flex;
    @apply justify-center items-center;

    @apply h-10 w-10;
    @apply scale-150;
    @apply rounded-full;
    @apply drop-shadow-lg;

    @apply bg-gray-500;

    & > svg {
        @apply text-white;
    }
}

.middle-tab > .middle-tab__label {
    @apply relative;
    @apply bottom-1.5;

    @apply font-semibold;
    @apply text-gray-500;

    font-size: $tabLabelFontSize;
}

.middle-tab--active {
    & > .middle-tab__button {
        @apply bg-indigo-500;
    }

    & > .middle-tab__label {
        @apply text-indigo-500;
    }
}
